@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(4, 22, 30, 0.7),rgba(4,22,30,0.7)),url(phone\ contact.jpg);
    background-position: center;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h1{
    font-size: 36px;
    font-weight: 500;
    color: white;
}
.contact .content p{
    font-weight: 300;
    color: white;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 600;
    color: #77CEDC;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: transparent;
    border-radius: 20px;
    border: 3px solid #77CEDC;
    backdrop-filter: blur(15px);
    animation: animateBg 5s linear infinite;
}
@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}
.contactform h2{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #77CEDC;
    outline: none;
    resize: none;
}
#send{
    width: 130px;
    height: 50px;
    background: #1B4C51;
    font-size: 25px;
    margin: 10px 0;
    border: none;
    color: white;
    outline: none;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #1B4C51;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #1B4C51;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #1B4C51;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo,
    .contactform{
        width: 100%;
    }
}
.arrow-back-button{
    color: #77CEDC;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 150px;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
   }
   @keyframes bounce{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        transform: translate3d(0, 08px, 0);
    }
   }
   .arrow{
    color: #77CEDC;
    font-size: 19px;
    font-family: 'poppins', sans-serif;
   }